[Unit]
Description=PyWeatherStation Software
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/PyWeatherStation/pyweatherstation.py
WorkingDirectory=/home/pi/PyWeatherStation
Restart=always

[Install]
WantedBy=multi-user.target
